/*Global*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*Header*/

.navbar {
  display: flex;
  align-items: center;
  background: lightblue;
}

.navbar img {
  width: 3.5em;
  margin: 0.5em 2em 0.5em 1em;
}

.links-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 4em;
  column-gap: 3em;
}

/*Main*/

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3.5em;
  column-gap: 5em;
}

/*Pokemon*/
.pokemon-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  margin-left: 2em;
  align-items: center;
}

.pokemon-container img {
  padding: 1em;
  width: 20em;
  border: 2px solid #000000;
  margin: 1em 0 1em 0;
}

.pokemon-container audio {
  margin: 1em;
}

/*Info*/

.pokemon-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4em;
  width: 40em;
  background: #00000022;
  padding: 2em 1em;
  margin: auto;
}

.pokemon-info-container ul {
  list-style: none;
}

/*Stats*/

.pokemon-stats-container {
  position: relative;
  width: 30em;
  background: #00000022;
  padding: 0 1em;
  margin: 3em auto;
  font-size: 1.3em;
  border-radius: 5%;
}

.pokemon-stats-container .skill {
  margin: 2em 0;
}

.pokemon-stats-container .skill p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemon-stats-container .skill .progress {
  position: relative;
  width: 100%;
  height: 0.8em;
  background: #999999;
  border-radius: 0.5em;
  overflow: hidden;
  margin: 0.5em 0;
}

.pokemon-stats-container .skill .progress::before {
  content: '';
  position: absolute;
  width: var(--wth);
  height: 100%;
  background: #78cc78;
}

/*Cadena evolutiva*/

.pokemon-evolution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  overflow: hidden;
  height: 20em;
  margin: auto;
}

.pokemon-evolution-container img {
  width: 9em;
  margin: 0 2em;
}

#flecha,
#flecha2 {
  rotate: 180deg;
}

/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000022;
  height: 5em;
  border: 2px solid #000000;
}

/*Responsive Movil*/

@media screen and (max-width: 767px) {
  /*header*/
  .navbar {
    display: flex;
    align-items: center;
    background: lightgreen;
    width: 100vw;
  }

  /*main*/
  main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  /*Pokemon*/
  .pokemon-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    margin: 1em;
    align-items: center;
  }

  .pokemon-container img {
    padding: 1em;
    width: 15em;
    border: 2px solid #000000;
    margin: 1em 0 1em 0;
  }

  #flecha,
  #flecha2 {
    rotate: -90deg;
  }

  /*Info*/

  .pokemon-info-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4em;
    width: 80%;
    background: #00000022;
    padding: 2em 1em;
    margin: 2em auto;
    text-align: center;
  }

  /*Cadena evolutiva*/
  .pokemon-evolution-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    height: auto;
    margin: 3em auto;
    text-align: center;
  }

  .pokemon-evolution-container img {
    width: 13em;
    margin: 2em 2em;
  }
}
