@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

/*Global*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pixelify Sans';
  background-color: #ece1d5;
}

img {
  max-width: 100%;
}

/*Main*/

main h2 {
  text-align: center;
  font-weight: bold;
  color: #691291;
  font-size: 3.5em;
}

/*Filtros*/

.tab-tipos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  background-attachment: fixed;
}

button {
  font-family: 'Pixelify Sans';
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .load-more-btn {
    display: flex;
    justify-content: center;
  }
}

#btn_filtros {
  background-color: #727f7dbd;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #333;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  align-self: center;
}

.contenedor-filtros {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 5px 5px 20px 15px rgba(0, 0, 0, 0.2);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 550px;
  align-self: center;
}

.filtro-tipos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
}

.filtro-tipos li {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.filtro-tipos li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegura que todos los botones tengan el mismo ancho */
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#fuego {
  background: #f55d3e;
  color: white;
}

#agua {
  background: #55a2d6;
  color: white;
}

#planta {
  background: #55d65d;
  color: white;
}

#electrico {
  background: #f5d63e;
  color: white;
}

#roca {
  background: #b96a42;
  color: white;
}

#volador {
  background: #a2d6d6;
  color: white;
}

#veneno {
  background: #d655d6;
  color: white;
}

#psiquico {
  background: #f44bdb;
  color: white;
}

#bicho {
  background: #d6d655;
  color: white;
}

#tierra {
  background: #d6b655;
  color: white;
}

#lucha {
  background: #d65555;
  color: white;
}

#fantasma {
  background: #6a42b9;
  color: white;
}

#hada {
  background: #f5a2d6;
  color: white;
}

#siniestro {
  background: #6a6a6a;
  color: white;
}

#acero {
  background: #9b9b9b;
  color: white;
}

#hielo {
  background: #55d6d6;
  color: white;
}

#dragon {
  background: #6a42b9;
  color: white;
}

#normal {
  background: #c2c1c1;
  color: white;
}

/*Catalogo Pokemon*/

.catalogo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em 1em;
  padding: 1em;
  margin: 2em;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-container {
  display: flex;
  justify-content: center;
  background: #dfdfdf;
  margin-bottom: 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pokemon-card img {
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-self: center;
  padding: 10px;
}

.numero_pokemon {
  margin-bottom: 1em;
  color: rgb(0, 0, 0, 0.4);
}

.pokemon-info {
  padding: 1em;
}

.tipos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.5em;
}

/*Footer*/

.button {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.25s ease;
}
.button:hover {
  color: #f55d3e;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #466365;
  height: 5em;
  border-top: 2px solid #000000;
  color: white;
}

@media (max-width: 600px) {
  .catalogo-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .catalogo-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    justify-items: center;
  }
}
