/*Global*/
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pixelify Sans';
  background-color: #ECE1D5
}

img {
  max-width: 100%;
}

/*Header*/
/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333;
  padding: 1em;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 2.5em;
  padding-right: 2.5em;
}

.social-media .social-icon {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media .social-icon:hover {
  color: #F55D3E;
}

.navbar-logo img {
  height: 40px;
  margin-right: 20px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-menu a {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  background-color: #575757;
  color: #F55D3E;
}

/*Main*/

main h2 {
  text-align: center;
  padding-top: 2em;
  text-decoration: underline;
  font-weight: bold;
  color: #691291;
  font-size: 36px;
}

/*Catalogo Objetos*/

.objects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em 1em;
  padding: 1em;
  margin: 2em;
}

.object-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-container {
  display: flex;
  justify-content: center;
  background: #dfdfdf;
  margin-bottom: 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.object-card img {
  object-fit: cover;
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-self: center;
  padding: 10px;
}

.object-info {
  padding: 0 1em 0.5em 1em;
}

.numero_objeto {
  margin-bottom: 1em; 
  color: rgb(0, 0, 0, 0.4);
}

.tipos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.5em;
}

/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #466365;
  height: 5em;
  border-top: 2px solid #000000;
  color: white;
}